<div class="title">
<h2 tuiTitle>Skills</h2>
</div>
  <div tuiSubtitle class="subtitle">• Experienced with HTML, CSS, C++, PHP, Java, SQL <br> • Proficient at JavaScript Angular, C# Windows Forms <br> • Fluent English & Greek <br> • Completed military obligations</div>
<div class="title">
<h2 tuiTitle>Education</h2>
</div>
<div tuiSubtitle class="subtitle">• Bachelor in Computing - Application Development <br>• First class Bachelor of Science with Honors in Computing (Application Development) <br>•Undergraduate Dissertation topic: “Developing a record store inventory management application with a product and client database”
</div>
<div class="title">
<h2 tuiTitle>Work Experience</h2>
</div>
<div tuiSubtitle class="subtitle">• Production Manager and Staff Manager for Hellenic Smoothies 2017-January 2025</div>
