.items-container{
  display:flex;
flex-direction: column;
justify-items: center;
align-items: center;
gap:2rem;
}

.carousel-container{
  flex-grow:1;
  max-width: 60vw;
  padding-bottom:50px;
}

h2{
  padding-top: 30px;
  padding-bottom: 30px;
}
