h1 {
  justify-content: center;
  margin-top: 100px;
  margin-bottom: 100px;
  margin-right: 150px;
  margin-left: 82vh;
  color:#FAECE2;
}

body{
  width: 100vw;
  height: 100vh;
  background-image:url(../public/blurry-gradient-haikei.png);
  background-size: cover;
}
