@import"@taiga-ui/styles/taiga-ui-global.less";

h1 {
 display: flex;
 align-items: center;
 justify-content: center;
 text-align: center;
  color:#FAECE2;
}

h2 {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
   color:#FAECE2;
}

h4 {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
   color:#FAECE2;
}

body{
  position:absolute;
  top:0;
  left:0;
  width: 100vw;
  min-height: 100vh;
  background-image:url(../public/low-poly-grid-haikei.svg);
  background-size: cover;
  background-repeat: no-repeat;
}
