h1 {
 display: flex;
 align-items: center;
 justify-content: center;
 text-align: center;
  color:#FAECE2;
}

h2 {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
   color:#FAECE2;
}

h4 {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
   color:#FAECE2;
}

body{
  width: 100vw;
  height: 100vh;
  background-image:url(../public/blurry-gradient-haikei.svg);
  background-size: cover;
}
