h4{
  padding-top:50px;
}

.container {
  display: flex;
  justify-content: center;
  gap: 30vw;
  color:var(--tui-text-positive);
  padding-top:100px;
}

h1{
  color:#FAECE2;
  justify-content: center;
  display:flex;
  padding-top:70px;
  padding-left: 50px;
}

.tui-list{
  color:#FAECE2;
  padding-top:50px;
  padding-bottom:50px;
}


.footer {
  position: fixed;
  left: 10px;
   bottom: 5px;
   width: 100%;
   color: #FAECE2;
   text-align: center;
   max-inline-size: 20rem;
   white-space: nowrap;
}

[tuiButtonGroup]{
  background: linear-gradient(334.83deg, #7d8ca0 0%, #647382 100%);

    button {
        color: #fff;
    }
}

